@import "./size.css";

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('./../public/fonts/iransans/eot/IRANSansWeb.eot');
    src: url('./../public/fonts/iransans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('./../public/fonts/iransans/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('./../public/fonts/iransans/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./../public/fonts/iransans/ttf/IRANSansWeb.ttf') format('truetype');
}


:root {
    --main-color: 52, 224, 198;
    --grey-color-1: 248,248,248;
    --grey-color-2: 238,238,238;
    --grey-color-3: 89, 89, 86;
    --text-color: "#3b3b3b";
    --menu-parent-font-size: "12px";
    --heading-size: "24px";
    --heading-size-mobile: "18px";
    --border-radius-1: "10px";
    --border-radius-2: "15px";
    --border-radius-3: "20px";
    --main-font-family: "IRANSANS"
}

body {
    background: #f8f8f9;
}

body, .tooltip, .h1, .h2, .h3, .h4, .h5, .h6, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, a, p, span {
    font-family: var(--main-font-family), serif !important;
}

.iransans {
    font-family: var(--main-font-family) !important;
}

.text-justify {
    text-align: justify;
    word-wrap: break-word;
}
.text-decoration-none{
    text-decoration: none !important;
}
.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}
a:hover{
    transition: 0.5s ease;
    color: rgb(var(--main-color)) !important;
}
.transition_50 {
    transition: all 0.5s ease;
}
.border-radius-theme-1{
    border-radius: 10px;
}
.border-radius-theme-2{
    border-radius: 15px;
}
.border-radius-theme-3{
    border-radius: 20px;
}
#nprogress .bar {
    height: 4px;
    background: rgb(var(--main-color)) !important;
}

.text-main {
    color: rgb(var(--main-color));
}

.bg-main {
    background-color: rgb(var(--main-color));
}

.text-main-hover {
    color: rgb(var(--main-color));
}

.bg-attachment-fixed {
    background-attachment: fixed;
}

.bg-repeat-none {
    background-repeat: no-repeat;
}

.bg-position-center {
    background-position: center center;
}

.line-height {
    line-height: 2;
}
.heading-size{
    font-size: var(--heading-size);
}

/* header */
#header {
    box-shadow: 0px 0px 13px 5px #efefef;
    margin-bottom: 10px;
    background: #fff;
}

#main-header {
    padding: 10px 0px;
}

#main-header div.logo {

}

#main-header div.logo img {
    width: 50%;
    display: block;
    margin-left: 10px;
    float: left;
}

#main-header div.menu {
}

#main-header div.menu ul {
    list-style: none;
}

#main-header div.menu ul li {
    float: right;
}

#main-header div.menu ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 5px 10px 18px;
    color: rgb(var(--text-color));
    font-size: 14px;

}

#main-header div.menu ul li a svg{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

#main-header div.menu ul li a:hover {
    color: rgb(var(--main-color)) !important;
}

#main-header div.menu ul li a i {
}



#header #top-bar {
    /*background-image: url('/images/top-bar-bg.jpg');*/
    background: rgb(52, 52, 52);
    padding: 10px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.searchHeaderForm{}
.searchHeaderForm form{
    position: relative;
}
.searchHeaderForm form input{}
.searchHeaderForm form button{
    background: none;
    border: none;
    position: absolute;
    top: 15%;
    left: 2%;
}
#footer {
    background: rgb(var(--grey-color-3));
}



.tgju-copyright-fix,.tgju-copyright{
    display: none !important;
}
.tgju-widget{
    border-radius: 20px !important;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%)!important;
}
.tgju-widget-title-text,.tgju-widget-current-price{
    color: #1e1e1e;
}
.tgju-widget-table thead th{
    color: #1e1e1e;
}
.tgju-widget-table tbody td.nf{
    color: #1e1e1e;
}
.tgju-widget-title-text.dot:before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: 6px;
}
.d-grid{
    display: grid;
}

.article-author{
    margin-top: -45px !important;
}

.cryptocurrency-card-item{
    position: relative;
    transition: all 0.5s ease;
    background: #ffffff;
    border: 3px solid #efefef;
}

.cryptocurrency-card-item:hover{
    border: 3px solid rgb(var(--main-color));
}

.cryptocurrency-card-item img{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    transition: all 0.5s ease;

}

.cryptocurrency-card-item:hover img{
    transform: rotateZ(-35deg);
    box-shadow: 0px 0px 10px 1px #e8e8ee;
}

.cryptocurrency-card-item h2{
    transition: all 0.5s ease;
}
.cryptocurrency-card-item:hover h2{
    color: rgb(var(--main-color));
}